@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --primary-color: hsl(26, 100%, 55%);
    --secondary-color: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --brown-wrapper: rgba(255, 153, 0, 0.14);
}
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
/* .header{
    align-content: center;
    width: 100%;
    height: 50px;
    background-color: red;
} */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: var(--white, white); */
}
li{
    float: left;
}
li a:hover:not(.active){
    color:var(--dark-blue);
}
li a{
    display: flex;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--dark-grayish-blue);
    font-family: 'Kumbh Sans';
}
.logo{
    position: absolute;
    width: 193px;
    height: 60px;
    left: 115px;
    top: 70px;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}
.top-icons{
    align-items: left;
}
.navigation{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 23px;

    position: absolute;
    width: 634px;
    height: 38px;
    left: 315px;
    top: 81px;
}
.cart{
    position: absolute;
    width: 62px;
    height: 39px;
    left: 90%;
    top: 81px;

}
.user{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 95%;
    top: 68px;

    background: url(.png);
}
.line{
    position: absolute;
    width: 92%;
    height: 0px;
    left: 115px;
    top: 158.45px;

    border: 1px solid var(--light-grayish-blue);
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.left-section{
    flex: 30%;
    padding: var(--white);
}
.right{
    flex: 62%;
    padding: 20px;
}
.product{
    position: absolute;
    width: 514px;
    height: 426px;
    left: 141px;
    top: 229px;

    background: url(image.png);
    border-radius: 37px;
}
.product-tumb{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 614px;
    height: 180px;
    left: 130px;
    top: 704px;
}
.sneaker{
    position: absolute;
    width: 563px;
    height: 45px;
    left: 814px;
    top: 252px;

    font-family: 'kumbh Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: var(--primary-color);
}
.fall{
    position: absolute;
    width: 690px;
    height: 196px;
    left: 814px;
    top: 275px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    /* or 100% */


    color: var(--black);
    font-family: 'Kumbh Sans';
}
.desc{
    position: absolute;
    width: 690px;
    height: 122px;
    left: 814px;
    top: 503px;

    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 42px;

    color: var(--dark-grayish-blue);
    font-family: 'kumbh Sans';
}
.tumb-1{
    position: static;
    width: 120px;
    height: 100px;
    left: 0px;
    top: 0px;

    border: 5px solid var(--primary-color);
    box-sizing: border-box;
    border-radius: 37px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 7px;
}
.tumb-1:hover{
    opacity: 50%;
}
.tumb-2{
    position: static;
    width: 120px;
    height: 100px;
    left: 41px;
    top: 0px;

    background: url(image.png);
    border-radius: 37px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 7px;
}
.tumb-3{
    position: static;
    width: 120px;
    height: 100px;
    left: 41px;
    top: 0px;

    background: url(image.png);
    border-radius: 37px;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 7px;
}
.tumb-4{
    position: static;
    width: 120px;
    height: 100px;
    left: 523px;
    top: 0px;

    background: url(image.png);
    border-radius: 37px;

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 7px;
}
.price{
    position: absolute;
    width: 319px;
    height: 75px;
    left: 814px;
    top: 560px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    /* or 100% */


    color: var(--black);
    font-family: 'kumbh Sans';

}
.discount-number{
    position: absolute;
    width: 66px;
    height: 50px;
    left: 1010px;
    top: 590px;

    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    align-items: center;
    align-content: center;
    text-align: center;
    /* identical to box height, or 267% */

    padding: 10px;
    
    background: var(--brown-wrapper);
    border-radius: 10px;
    color: var(--primary-color);
}
.o-price{
    position: absolute;
    width: 186px;
    height: 75px;
    left: 814px;
    top: 620px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 80px;
    /* or 190% */

    text-decoration-line: line-through;
    font-family: 'kumbh Sans';
    color: var(--grayish-blue);
}
.add-cart{
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;

    position: absolute;
    width: 306px;
    height: 80px;
    left: 1000px;
    top: 713px;

    background: var(--primary-color);
    border-radius: 37px;
    border: none;
    color: var(--white);
    font-family: 'kumbh Sans';

}
.add-remove{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    position: absolute;
    width: 169px;
    height: 80px;
    left: 814px;
    top: 713px;

    background: var(--light-grayish-blue);
    border-radius: 37px;
    border: none;
    font-family: 'kumbh Sans';
}
@media screen and (max-width: 1000px) {
    
}
/* laptops */
@media screen and (max-width: 600px){
    .row .navigation{
        flex-direction: column;
    }
}
/* mobile views */
@media screen and (max-width: 375px){
    .row .navigation{
        flex-direction: column;
    }
}