@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --primary-color: hsl(26, 100%, 55%);
    --secondary-color: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --brown-wrapper: rgba(255, 153, 0, 0.14);
}
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* background-color: var(--white, white); */
}
li{
    float: left;
}
li a:hover:not(.active){
    color:var(--dark-blue);
}
li a{
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--dark-grayish-blue);
    font-family: 'Kumbh Sans';
}
.header{
    position: absolute;
    width: 193px;
    height: 90px;
    left: 115px;
    top: 41px;
    line-height: 60px;
}
.menu{
    display: none;
}
.navigation{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0px 23px; */

    position: absolute;
    width: 634px;
    height: 38px;
    left: 315px;
    top: 51px;
}
.cart{
    position: absolute;
    width: 62px;
    height: 39px;
    left: 80%;
    top: 51px;

}
.user{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 88%;
    top: 41px;

    background: url(.png);
}
.line{
    position: absolute;
    width: 85%;
    height: 0px;
    left: 115px;
    top: 108.45px;

    border: 1px solid var(--light-grayish-blue);
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.left-section{
    flex: 30%;
    padding: var(--white);
}
.right{
    flex: 70%;
    padding: 20px;
}
.product{
    position: absolute;
    width: 514px;
    height: 426px;
    left: 141px;
    top: 159px;

    background: url(image.png);
    border-radius: 37px;
}
.product-tumb{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 614px;
    height: 180px;
    left: 130px;
    top: 604px;
}
.sneaker{
    position: absolute;
    width: 563px;
    height: 45px;
    left: 814px;
    top: 152px;

    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: var(--primary-color);
}
.fall{
    position: absolute;
    width: 690px;
    height: 196px;
    left: 814px;
    top: 175px;

    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    /* or 100% */


    color: var(--black);
    font-family: 'Kumbh Sans';
}
.desc{
    position: absolute;
    width: 690px;
    height: 122px;
    left: 814px;
    top: 403px;

    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 42px;

    color: var(--dark-grayish-blue);
    font-family: 'Kumbh Sans';
}
.tumb-1{
    position: static;
    width: 120px;
    height: 100px;
    left: 0px;
    top: 0px;

    border: 5px solid var(--primary-color);
    box-sizing: border-box;
    border-radius: 37px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 7px;
}
.tumb-1:hover{
    opacity: 50%;
}
.tumb-2{
    position: static;
    width: 120px;
    height: 100px;
    left: 41px;
    top: 0px;

    background: url(image.png);
    border-radius: 37px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 7px;
}
.tumb-3{
    position: static;
    width: 120px;
    height: 100px;
    left: 41px;
    top: 0px;

    background: url(image.png);
    border-radius: 37px;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 7px;
}
.tumb-4{
    position: static;
    width: 120px;
    height: 100px;
    left: 523px;
    top: 0px;

    background: url(image.png);
    border-radius: 37px;

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 7px;
}
.price{
    position: absolute;
    width: 319px;
    height: 75px;
    left: 814px;
    top: 460px;

    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    /* or 100% */


    color: var(--black);
    font-family: 'Kumbh Sans';

}
.discount-number{
    position: absolute;
    width: 66px;
    height: 50px;
    left: 1010px;
    top: 490px;

    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    align-items: center;
    align-content: center;
    text-align: center;
    /* identical to box height, or 267% */

    padding: 10px;
    
    background: var(--brown-wrapper);
    border-radius: 10px;
    color: var(--primary-color);
}
.o-price{
    position: absolute;
    width: 186px;
    height: 75px;
    left: 814px;
    top: 520px;

    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 80px;
    /* or 190% */

    text-decoration-line: line-through;
    font-family: 'Kumbh Sans';
    color: var(--grayish-blue);
}
.add-cart{
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;

    position: absolute;
    width: 306px;
    height: 80px;
    left: 1000px;
    top: 613px;

    background: var(--primary-color);
    border-radius: 37px;
    border: none;
    color: var(--white);
    font-family: 'Kumbh Sans';

}
.add-remove{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    position: absolute;
    width: 169px;
    height: 80px;
    left: 814px;
    top: 613px;

    background: var(--light-grayish-blue);
    border-radius: 37px;
    border: none;
    font-family: 'Kumbh Sans';
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    /* html, body{
        margin: 0;
        padding: 0;
        height: 100%;
    } */
    .row .navigation{
        flex-direction: column;
    }
    .product{
        position: absolute;
        width: 100%;
        height: 286px;
        left: 0px;
        top: 84px;

        background: url(image.png);
        border-radius: 0px;
    }
    .sneaker{
        position: absolute;
        width: 242px;
        height: 30px;
        left: 30px;
        top: 384px;

        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height */

        letter-spacing: 0.15em;
        text-transform: uppercase;

        color: var(--primary-color);

    }
    .fall{
        position: absolute;
        width: 330px;
        height: 168px;
        left: 30px;
        top: 414px;

        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        line-height: 40px;
        /* or 129% */


        color: var(--black);
    }
    .product-tumb{
        display: none;
    }
    .desc{
        position: absolute;
        width: 312px;
        height: 122px;
        left: 30px;
        top: 498px;

        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        color: var(--dark-grayish-blue);
    }
    .price{
        position: absolute;
        width: 126px;
        height: 71px;
        left: 30px;
        top: 620px;

        font-family: Poppins;
        font-style: 'Kumbh Sans';
        font-weight: bold;
        font-size: 20px;
        line-height: 80px;
    /* or 400% */


    color: var(--black);
    }
    .discount-number{
        position: absolute;
        width: 51px;
        height: 21px;
        left: 112px;
        top: 649px;

        /* background: var(--primary-color); */
        border-radius: 10px;
        font-size: 15px;
    }
    .perc{
        position: absolute;
        width: 33px;
        height: 80px;
        left: 10px;
        top: -38px;

        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 80px;
        /* identical to box height, or 533% */

        color: #FF9900;
        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 10px 0px;
    }
    .add-remove{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px;

        position: absolute;
        width: 311px;
        height: 60px;
        left: 28px;
        top: 716px;

        background: #F3F9F9;
        border-radius: 17px;
    }
    .add-cart{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px;

        position: absolute;
        width: 311px;
        height: 60px;
        left: 28px;
        top: 802px;

        background: var(--primary-color);
        /* box-shadow: 0px 1px 10px var(--primary-color); */
        border-radius: 17px;
    }
    .o-price{
        position: absolute;
        width: 85px;
        height: 62px;
        left: 257px;
        top: 620px;

        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 80px;
        /* or 400% */

        text-decoration-line: line-through;

        color: #7C7474;
    }
    .menu{
        display: inline;
        color: var(--black);
    }
    .header{
        position: absolute;
        width: 310px;
        height: 62px;
        left: 17px;
        top: 20px;
    }
    .cart{
        position: absolute;
        width: 30px;
        height: 62px;
        left: 257px;
        top: 35px;
    }
    .user{
        position: absolute;
        width: 30px;
        height: 30px;
        left: 285px;
        top: 30px;
    }
    .navigation, .line{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 760px) {
    .cart{
        position: absolute;
        left: 90%;
    }
    .user{
        position: absolute;
        left: 100%;
    }
    /* .product{
        width: 100%;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .cart{
        position: absolute;
        left: 95%;
        top:60px;
    }
    .user{
        position: absolute;
        left: 100%;
    }
    #right-section{
        position: absolute;
        left: 50px;
        background-color: violet;
    }
    .navigation{
        left: 250px
    }
    .line{
        width: 100%;
    }
    /* .product{
        width: 400px;
        height: ;
    } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .cart{
        position: absolute;
        left: 80%;
    }
    .user{
        position: absolute;
        left: 88%;
    }
    .line{
        width: 85%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {...}